.bg-light-brown {
    background-color: #d5b690;
}

.bg-brown-dark {
    background-color: rgba(120, 74, 38, 0.9);
}

.text-light-brown {
    color: #d5b690;
}


.text-brown-dark {
    color: #784a26;
}


body {
    font-family: 'DM Serif Display', serif;
}

/* Controle da velocidade da rolagem */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.carousel-wrapper {
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel div {
    min-width: 100%;
}

/* Adicione estilos aos botões de navegação, se necessário */




@media only screen and (max-width: 600px) {
    .margin-txt1 {
        margin-left:0.5cm;
    }

    ul li a {
        margin-right: 6.5cm;
    }
    

  }
